<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{title}}</title>
		{{#if post}}
		<link href="../files/style.css" rel="stylesheet" type="text/css" media="all">
		{{else}}
		<link href="./files/style.css" rel="stylesheet" type="text/css" media="all">
		{{/if}}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Delius&family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://unpkg.com/bluesky-comments@0.9.0/dist/bluesky-comments.css">
	</head>
	<body>
		{{> sitenav}}

		<div class="page-body">
			<div class="page-header">
				<h1 class="blog-title">
					{{title}}
					{{!--{{#unless post}}
					{{#unless index}}
					&gt; archives
					{{/unless}}
					{{/unless}}--}}
				</h1>
				<h4 class="blog-subtitle">{{description}}</h4>
			</div>
			<hr class="separator">
			{{!-- this template is used for both individual posts and archive,
			so check if we're going to compile post with partial/recent archive
			or full archive. --}}
			{{#if post}}
			{{> post-body}}
			<hr class="separator">
			{{> post-more recentonly=true}}
			<hr class="separator">
			<!-- If you want to add stuffs (e.g. Disqus/external comments addon), add it below here -->
			{{#> post-comment}}Loading comment...{{/post-comment}}
			{{else}}
			{{> entries}}
			{{/if}}
		</div>
		<div class="footer">
			<p>©2025 clae | This site is hosted by <a href="https://nekoweb.org">nekoweb</a>.</p>
		</div>
		{{#if post}}
		<script type="text/javascript" src="../files/blog.js"></script>
		<script type="module">
			import { createElement } from 'react';
			import { createRoot } from 'react-dom/client';
			import { BlueskyComments } from 'https://unpkg.com/bluesky-comments@0.9.0/dist/bluesky-comments.es.js';

			const author = 'exclaebur.bsky.social';
			const container = document.getElementById('bluesky-comments');
			const root = createRoot(container);
			root.render(
				createElement(BlueskyComments, {
					"author": author,
					"uri": "{{post.bskyUri}}"
				})
			);
		</script>
		{{else}}
		<script type="text/javascript" src="./files/blog.js"></script>
		{{/if}}
	</body>
</html>